@import 'fonts.css';
*{
   margin: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
   text-decoration: none;
   font-family: 'roboto';
   font-weight: 400;
}
/* ===header=== */
.header{
   width: 1110px;
   margin: 0 auto;
   border: 0px solid #000;
}
/* ===navabr=== */
.navbar{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.navbar__logo{
   padding: 50px;
}
.navbar__list{
   display: flex;
}
.navbar__list a{
   color: #bab9b9;
   padding: 10px 4px 15px;
   display: flex;
   margin: 0 19px;
   font-size: 18px;
   line-height: 15px;
   border-bottom: 2px solid transparent;
}
.navbar__list a:hover{
   color: #4581b7;
   border-bottom-color: #4581b7;
}
/* ===header img=== */
.header__img{
   width: 100%;
   object-fit: contain;
   margin-top: 50px;
}
/* ===section=== */
.content{
   width: 1110px;
   padding: 30px 0;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}
.content__info,
.content__contacts{
   min-height: 300px;
   background:  #f0f0f0;
   padding: 40px;
}
.content__contacts{
   width: 350px;
}
.content__info{
   width: 730px;
}
.content h2{
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 25px;
   color: #4581b7;
}
.content p,
.content a{
   font-style: 16px;
   line-height: 27px;
   color: #7f7f7f;
}
.content a{
   margin-top: 50px;
   display: flex;
}